<h1>Accessories</h1>
<form action="/accessories" method="GET">
    <input type="text" class="search" name="search" placeholder="Search...">
    <input type="submit" value="search">
</form>
</br>
</br>
<div class="accessories">
  {{#if accessories}}
    {{#each accessories}}
    {{>accessory}}
    {{/each}}
  {{else}}
  <h3 class="italic">This cube has no accessories yet...</h3>
  {{/if}}
</div>